stylesheet.css
 #title {
	text-align: center;
}
ul.nav{
	list-style-type: none;
	text-align: center;
}
li.nav{
	display: inline;

}
li a{
	color: #af0a0a;
	font-weight: bold;
	text-decoration: none;
	margin: 10 auto;
	padding: 0px 160px 0px 160px;
	border: solid #af0a0a;
	
}
.debate {
	display: block;
	background:white;
	border: solid #af0a0a;
	color: black;
}
*{
font-family: 'Yantramanav', sans-serif;
}
body{
	background:#070001;
	color: white;
}
h1,h2,h2,h4,h5,h6{
	color:#af0a0a;
}
div{
	background:white;
	border: solid #af0a0a;
	color: black;
	padding: 10 0 10 0;
	margin: 25px auto;
}
ul.debate{
	list-style-type: none;
}
li.debate{
	display: block;
}