stylesheet.css
h1{
	text-align:center;
}
ul.nav{
	list-style-type: none;
}
li.nav{
	display: block;
	color: #af0a0a;
	font-weight: bold;
}
.debate {
	display: block;
	background:white;
	border: solid #af0a0a;
	color: black;
}
*{
font-family: 'Yantramanav', sans-serif;
}
body{
	background:#070001;
	color: white;
}
h1,h2,h2,h4,h5,h6{
	color:#af0a0a;
}
div{
	background:white;
	border: solid #af0a0a;
	color: black;
}